<div class="moving-text-slider">
        <!-- Moving Text Items -->
  {% for block in section.blocks %}
        <div class="moving-text">{{ block.settings.html }}</div>
  {% endfor %}
        
    </div>
<style>
  .moving-text-slider{
    background:#1C2E3A;
    padding:10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .moving-text{
    color:white;
    padding:0px 10px;
    width:300px
  }
</style>
<script src="{{ 'moving-slider.aio.min.js' | asset_url }}">

</script>
{% schema %}
  {
    "name": "Moving Slider",
    "settings": [],
    "blocks":[
      {
        "name":"text",
        "type":"text",
        "settings":[
          {
        "type":"html",
        "id":"html",
        "label":"html"
      }
        ]
      }
    ],
    "presets":[
      {
        "name":"Moving Slider"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}