<style>
  .block-brands {
    background: #246683;
}
  .block-width {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.block-width img {
    width: 100%;
    max-width: 200px;
}

.brand-block {
    display: flex;
    width: 100%;
    justify-content: space-around;
    max-width: fit-content;
}

  @media only screen and (max-width: 768px){
  .block-width {
    gap: 10px;
}
  }
</style>


<div class="block-brands">
  <div class="block-width">
    {%- for block in section.blocks -%}
      {% if block.settings.image != "blank" %}
          <div class="brand-block">
            <img loading="lazy" src="{{ block.settings.image | img_url: 'master' }}">
          </div>
        {% endif %}
    {%- endfor -%}

  </div>
</div>


{% schema %}
  {
  "name": "new-brand-images",
  "settings": [],
  "blocks": [
    {
      "name": "Block",
      "type": "block",
      "settings": [
        {
          "type": "image_picker",
          "label": "Brand Image",
          "id": "image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "new-brand-images"
    }
  ]
}  
{% endschema %}