/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>is licensed by CC BY 4.0</div>
      OR
      <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>

      CSS rules to specify fonts

      font-family: "Heathergreen";;

*/

@font-face{
    font-family: "Heathergreen";
    src: url("https://db.onlinewebfonts.com/t/d007b7c2e0d5c3b7d7ffb4274d973823.eot");
    src: url("https://db.onlinewebfonts.com/t/d007b7c2e0d5c3b7d7ffb4274d973823.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/d007b7c2e0d5c3b7d7ffb4274d973823.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/d007b7c2e0d5c3b7d7ffb4274d973823.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/d007b7c2e0d5c3b7d7ffb4274d973823.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/d007b7c2e0d5c3b7d7ffb4274d973823.svg#Heathergreen")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
 