section#shopify-section-template--21829931499827__multicolumn_dwBK3e h3.inline-richtext {
    margin: 0 !important;
    text-align: left !important;
    font-size: 24px !important;
    border: 0 !important;
    padding-bottom: 0 !important;
}

section#shopify-section-template--21829931499827__multicolumn_dwBK3e .multicolumn-card__info {
    text-align: left;
}

section#shopify-section-template--21829931499827__multicolumn_dwBK3e .multicolumn a.link.animate-arrow {
    font-weight: 300 !important;
}
section#shopify-section-template--21829931499827__multicolumn_dwBK3e .media.media--transparent.media--adapt {
    height: 100% !important;
}

body.gradient.custom-ingredient-sourcing .multicolumn-card__info h3.inline-richtext {
    border-bottom: 1px solid;
    padding-bottom: 30px;
    width: 80%;
    margin: auto;
}
body.gradient.custom-silica-natural-cycle .rich-text__text.rte :before {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0788/5622/5075/files/Rectangle_133.png?v=1707760654);
    position: absolute;
    width: 3px;
    height: 100%;
    background-size: 100% 18px;
    left: 0;
    top: 0px;
    margin-left: -30px;
}
body.gradient.custom-why-silica h3.inline-richtext {
    text-align: center;
    border-bottom: 1px solid;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}
body.gradient.custom-why-silica .card__information {
    background: #F7F9FB;
}
body.gradient .custom-pro--MineralBasedCollagenBooster .multicolumn-list__item.grid__item{
         max-width: unset !important; 
}
body.gradient.livingpro h1.banner__heading.inline-richtext.h1 {
    font-family: Playfair Display !important;
    font-size: 70px !important;
    font-weight: 700 !important;
    line-height: 80px !important;
    letter-spacing: 0.01em !important;
    text-align: left !important;
}
body.gradient.livingpro .heading_text p {
    color: white;
    font-weight: 300 !important;
    line-height: 28px !important;
    padding: 18px 0 !important;
    font-family: "Roboto Light", sans-serif !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 40px !important;
    letter-spacing: 0.02em !important;
    text-align: left !important;
}
body.gradient.livingpro .heading_text .button {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 23px !important;
    letter-spacing: 0.24em !important;
    text-align: center !important;
}
body.gradient.livingpro .moving-text {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    line-height: 26px !important;
    letter-spacing: 0.07em !important;
    text-align: left !important;
}

body.gradient.livingpro .rich-text__blocks p.rich-text__caption.caption-with-letter-spacing.caption-with-letter-spacing--large {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 21px !important;
    letter-spacing: 0.33em !important;
    text-align: center !important;
}
body.gradient.livingpro .rich-text__blocks h2.rich-text__heading.rte.inline-richtext.h1 {
    font-family: "Gloock", serif!important;
    font-weight: 400 !important;
  font-style: normal;
    font-size: 48px !important;

    line-height: 60px !important;
    letter-spacing: 0.11em !important;
    text-align: center !important;
}
body.gradient.livingpro .featured_product li.grid__item .tag_best_seller {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 17px !important;
    letter-spacing: -0.01em !important;
    text-align: center !important;
}
body.gradient.livingpro .collection p.card__heading {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 30px !important;
    letter-spacing: 0.01em !important;
    text-align: left !important;
}
body.gradient.livingpro .price__regular {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 24px !important;
    font-weight: 500 !important;
    line-height: 28px !important;
    letter-spacing: 0em !important;
    text-align: right !important;
}
body.gradient.livingpro a.button.button--primary {
    font-family: "Roboto Light", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.3em;
    text-align: center;
}
body.gradient.livingpro h2.banner__heading.inline-richtext.h1 {
    font-family: "Gloock", serif !important;
    font-style: normal;
    font-size: 48px !important;
    font-weight: 400  !important;
    line-height: 60px  !important;
    letter-spacing: 0.11em  !important;
    text-align: center  !important;
}
.banner__text_p1 {
    font-family: "Roboto Medium", sans-serif !important;
    font-size: 11px !important;
    /*font-weight: 400 !important;*/
    line-height: 40px !important;
    text-transform: uppercase;
    letter-spacing: 3px !important;
    text-align: center !important;
    margin-bottom: 0px;
}
.banner__text_p2 {
    font-family: "Gloock", sans-serif !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 40px !important;
    text-transform: uppercase;
    letter-spacing: 3px !important;
    text-align: center !important;
    margin-top: 0px;
    margin-bottom: 5rem !important;
}
body.gradient.livingpro a.button.button--primary {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 23px !important;
    letter-spacing: 0.24em !important;
    text-align: center !important;
}
body.gradient.livingpro .text-container h2 {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 38px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

body.gradient.livingpro .text-container p {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
}
body.gradient.livingpro .multicolumn h3.inline-richtext {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0.03em !important;
    text-align: left !important;
}
body.gradient.livingpro .my-rte.rte p {    font-family: "Roboto Light", sans-serif !important;
    font-size: 20px !important;font-weight: 300 !important;line-height: 38px !important;letter-spacing: 0.02em !important;text-align: left !important;}
body.gradient.livingpro .multicolumn a.link.animate-arrow {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 19px !important;
    letter-spacing: 0.24em !important;
    text-align: center !important;
}
body.gradient.livingpro .rich-text__blocks p.rich-text__caption.caption-with-letter-spacing.caption-with-letter-spacing--large {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 21px !important;
    letter-spacing: 0.33em !important;
    text-align: center !important;
}
.rich-text__blocks h2.rich-text__heading.rte.inline-richtext.h1 {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 39px !important;
    font-weight: 400 !important;
    line-height: 60px !important;
    letter-spacing: 0.11em !important;
    text-align: center !important;
}
body.gradient.livingpro body.gradient.livingpro .rich-text__blocks p.rich-text__caption.caption-with-letter-spacing.caption-with-letter-spacing--large {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 21px !important;
    letter-spacing: 0.33em !important;
    text-align: center !important;
}
body.gradient.livingpro .rich-text__blocks h2.rich-text__heading.rte.inline-richtext.h1 {
    font-family: "Gloock", serif!important;
    font-weight: 400 !important;
  font-style: normal;
    font-size: 48px !important;

    line-height: 60px !important;
    letter-spacing: 0.11em !important;
    text-align: center !important;
}
body.gradient.livingpro body.gradient.livingpro .multicolumn h3.inline-richtext {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0.01em !important;
    text-align: left !important;
}
body.gradient.livingpro .multicolumn h3.inline-richtext {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0.01em !important;
    text-align: left !important;
}
body.gradient.livingpro .rte p {
    font-family: "Roboto Light", sans-serif !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height: 24px !important;
    letter-spacing: 0.01em  !important;
    text-align: left !important;
}
body.gradient.livingpro .multicolumn a.link.animate-arrow {
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 16px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
}
.p_image img{
    object-fit: contain !important;
}
.headingabc {
    padding: 25px;
}
.headingabc h2 {
    margin: 0;
    color: #1C2E3A;
}

@media screen and (max-width:550px) {
.headingabc h2 {
    margin: 0;
}
  .headingabc {
    padding-bottom: 10px;
}
  .in-side-text .text-dox {
    padding-bottom: 30px !important;
    padding-top: 0 !important;
}
  section#shopify-section-template--21829931172147__multicolumn_CnBD8V .slider-buttons {
    justify-content: space-between;
    padding: 0 10px;
}
  section#shopify-section-template--21829931172147__multicolumn_CnBD8V .grid--peek .grid__item {
    width: 100% !important;
}
  section#shopify-section-template--21845447737651__blog_multicolumn_q6xQwf .grid--peek .grid__item {
    width: 100% !important;
}
    body.gradient.livingpro  .image-with-text__content{
        padding: 0 !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    body.gradient.livingpro h1.banner__heading.inline-richtext.h1 {
        font-size: 60px !important;
        line-height: 50px !important; 
    }
    body.gradient.custom-mission-vision .section-content.change-dr .section-heading {
        margin-top: 20px;
    }
    body.gradient.custom-mission-vision.custom-pro-- div#ImageWithText--template--21836600574259__408dd851-d4c4-4cc6-b8ef-643bb34cd9ce {
        padding: 0 !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .heading_tex{
        padding-left: 40px !important;
    }
 .slick-next{
        display: none !important;
        right: 0 !important;
    }
    body.gradient.livingpro  .sliderBox{
        height: 746px;
    }
    body.gradient.livingpro  .heading_text h1 {
        font-size: 30px;
        line-height: 44px;
        text-align: center;
    }
    body.gradient.livingpro   .heading_text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
    body.gradient.livingpro  h1.banner__heading.inline-richtext.h1{
        font-size: 30px !important;
        line-height: 44px !important;
        text-align: center !important;
    }
    body.gradient.livingpro .rte p {
        font-size: 21px!important;
        line-height: 24px!important;
        text-align: start !important;
    }
    body.gradient.livingpro  .featured_product .collection__view-all .button {
        width: 95% !important;
        margin: auto !important;;
    }
    body.gradient.livingpro .rich-text__blocks h2.rich-text__heading.rte.inline-richtext.h1 {
         font-size: 27px!important;
    }
    body.gradient.livingpro a.button.button--primary{
        font-size: 19px!important;
    }
    .banner__content .button, .button-label, .shopify-challenge__button, .customer button {
        padding: 1rem 10rem !important;   
    }
    body.gradient.livingpro h2.banner__heading.inline-richtext.h1 {
        font-size: 39px!important;
    }
    body.gradient.livingpro .text-container h2 {
        font-size: 23px!important;
    }
    body.gradient.livingpro  .text-container p {
        font-size: 16px!important;
        margin-top: 2px!important;
    }
    
    body.gradient.livingpro .multicolumn-list:not(.slider) {
        gap: 30px;
    }
    body.gradient.livingpro .my-rte.rte {
        padding: 3px 0 3px!important;
    }
      body.gradient.custom-silica-natural-cycle .text-center.heading h1{
        font-size: 24px;
        font-weight: 400;
        line-height: 42px;
      }
       body.gradient.custom-silica-natural-cycle .upper_box img{
        object-fit: cover;
    }
        body.gradient.custom-silica-natural-cycle .rte p {
        font-size: 17px;
        letter-spacing: 0;
        line-height: 26px !important;
    }
        body.gradient.custom-silica-natural-cycle .upper_box {
        height: 360px;
    }
    .natutal-center p {
        line-height: 26px;
        font-family: "Roboto Light" !important;
}
/* .swiper-button-nextt {
    right: -10px;
}

.swiper-button-prevv.ee {
    left: -10px !important;
} */

  
}





.natutal-center {
    color: #1C2E3A;
}
body.gradient.custom-silica-natural-cycle .rte p{
  font-family: "Roboto Light"
}
      body.gradient.custom-silica-natural-cycle section#shopify-section-template--21829931499827__1c220293-84f1-4911-a73c-9cfc50bc27c5 .multicolumn-card__info h3{
        max-width: 334px !important;
  }
  .card__heading a{
    font-family: "Roboto", sans-serif !important;
  }
  body.gradient.livingpro .rich-text.content-container.color-background-1.gradient.rich-text--full-width.content-container--full-width.section-template--22161162993971__rich_text_iKx4VM-padding {
    background: #f7f9fb;
}

body.gradient.livingpro #MainContent .multicolumn h3.inline-richtext{
font-family: "Gloock", serif !important;
  font-weight: 400;
  font-style: normal;
}
/* body.gradient.livingpro span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: white !important;
} */
.summary__title p.h4.accordion__title.inline-richtext {
    font-size: 16px !important;
    color: #1C2E3A;
    font-family: "Roboto Light", sans-serif !important;
    font-weight: 700;
    padding: 15px 15px 15px 0px;
}
.multicolumn-card__image-wrapper.multicolumn-card__image-wrapper--full-width.multicolumn-card-spacing {
    width: 100% !important;
}
.media.media--transparent.media--adapt img {
    width: 100% !important;
}
body.gradient.custom-science-studies .text-seaction {
    width: 100%;
    margin: auto;
}
span.answer_faq h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Gloock", serif !important;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 5px;

}
body.gradient.custom-videos h2.rich-text__heading.rte.inline-richtext.h1{
    font-family: "Gloock", serif!important;
    font-weight: 400 !important;
  font-style: normal;
  }
  .product .product__text{
    border-top: unset !important;
    margin-top: unset !important;
  }
  @media screen and (max-width:500px) {
      body.gradient.livingpro .featured_product li.grid__item .tag_best_seller {
          font-family: Roboto, sans-serif !important;
          font-size: 10px !important;
          padding: 5px !important;
          font-weight: 600 !important;
          line-height: normal !important;
          letter-spacing: -.01em !important;
          text-align: center !important;
          margin-bottom: 0;
          margin-top: 20px;
          }
          .deleted-context p {
              max-width: 300px;
              margin-bottom: 20px;
              line-height: 26px;
              font-size: 17px;
          }
          .deleted-context a {
          font-size: 14px;
          margin-bottom: 10px;
          }
          .product-block-context p {
            line-height: 26px;
            font-size: 17px;
          }
        .slider-main h4 {
              margin: 0;
          }
            div#shopify-section-template--21846420554035__home_super_two_xcbNkh .about-us-content {
            margin-top: 0;
        }
            div#shopify-section-template--21846420554035__home_super_two_ff8KHh .about-us-content {
            margin-top: 0;
        }
      div#shopify-section-template--21849578176819__home_super_point_6iHcKz .description-text p {
          font-family: "Roboto Light", sans-serif !important;
          color: #223D58;
      }
      div#shopify-section-template--21849578176819__super_rich_Jg8Fi3 .bottom-main-one {
          padding-top: 0;
      }
    
}

/* Finel Changings */
    
  }
  @media screen and (max-width:600px) {
    button.button.custom-setone{
        min-width: 50% !important;
    }
  }


@media screen and (max-width: 450px) {
  div#shopify-section-template--21854023745843__home_doge_RY4FKg p.result_p {
    font-size: 17px;
    line-height: 26px;
    font-family: "Roboto Light" !important;
}
  .sliderimageonly {
    padding-bottom: 40px;
}
     section#shopify-section-template--21829931499827__multicolumn_dwBK3e h3.inline-richtext {
    border: 0 !important;
    font-family: "Gloock", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #1C2E3A;
    margin: 0 !important;
    width: 100% !important;
    text-align: left !important;
    padding-bottom: 0 !important;
}

section#shopify-section-template--21829931499827__multicolumn_dwBK3e .multicolumn-card__info {
    padding: 25px !important;
    text-align: left;
}

section#shopify-section-template--21829931499827__multicolumn_dwBK3e .multicolumn-card.content-container {
    margin-right: 30px;
}
 section#shopify-section-template--21829931499827__multicolumn_dwBK3e .multicolumn a.link.animate-arrow {
    font-weight: 300 !important;
}


  h3.about-us-multi {
    margin-bottom: 10px;
  }
  
  .about-description-multi {
      margin-bottom: 15px;
  }

  .btn-page-set {
    margin-bottom: 20px;
  }

  .section-image {
    margin-bottom: 20px;
  }
  
  h3.about-us-multi {
      margin-top: 0;
  }
button.btn-set-me {
    padding: 12px 35px;
}
  .about-us-content {
    margin-top: 0px;
  }
  .blog_post.multicolumn.color-background-1.gradient.background-primary.no-heading {
    margin-top: 40px;
}
.multicolumn .page-width {
    padding: 0;
    margin-bottom: 40px;
}
  .main-backaboutimage {
    margin-bottom: 20px;
  }

  div#shopify-section-template--21845447737651__home_super_two_jtUW9i .section-description {
    margin-top: 0;
  }
  
  div#shopify-section-template--21845447737651__home_super_two_MpxfDL .about-us-main-container.page-width {
      margin-bottom: 0;
  }

  div#shopify-section-template--21845447737651__super_rich_MRxR3Y .bottom-main-two {
    padding-top: 0;
  }

  body .shopify-section .ver-line p {
    font-size: 17px !important;
  }

  div#shopify-section-template--21845714403635__home_super_two_N7Ey3A .about-us-main-container.page-width {
    margin-bottom: 0;
  }
  
  div#shopify-section-template--21845714403635__home_super_two_N7Ey3A .section-image {
      margin-bottom: 0;
  }
  
  div#shopify-section-template--21845714403635__home_super_two_aVHnkQ .section-description {
      margin-top: 0;
  }

  /* div#shopify-section-template--21845714403635__home_super_two_nXzm7a .about-us-content {
    margin-top: 0;
  } */

  div#shopify-section-template--21845714403635__home_super_two_nXzm7a .section-description {
    margin-top: 0;
  }

  div#shopify-section-template--21845714403635__home_super_two_FU4Gpr .section-description {
    margin-top: 0;
  }

  .bottom-main-two {
    padding-top: 0 !important;
  }
  
  h3.sec-head {
      padding-bottom: 0 !important;
  }

  .bottominner-main {
    margin: 20px 0;
  }

  div#shopify-section-template--22187490541875__home_super_one_nJ6gR6 .about-first-text {
    line-height: 40px;
  }

  h3.about-us-multi {
    font-size: 17px;
    padding-top: 10px;
    text-align: start;
    letter-spacing: 0px;
    font-weight: 300;
    margin-bottom: 0;
  }
  
  .about-description-multi p {
      font-size: 26px !important;
      line-height: 26px;
  }

  .points-text p {
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  .points-title h2 {
      line-height: 30px;
  }
  
  .points-title {
      margin-bottom: 20px;
  }
  
  div#shopify-section-template--21849578176819__home_super_two_Kq7zRK .about-us-main-container.page-width {
    margin-bottom: 0;
  }
  
  div#shopify-section-template--21849578176819__super_home_point_DTQikd .points-main-container.page-width {
      padding-top: 10px;
  }

  .text-year p {
    font-weight: 300;
    letter-spacing: 0;
    font-size: 17px;
    color: #1C2E3A;
  }

  p.sltop_heading {
    margin-bottom: 0;
    color: #1C2E3A;
  }
  
  h2.sl_omg_heading {
      margin-bottom: 10px;
  }
  div#shopify-section-template--21829931499827__home_types_of_silica_wiAxXR .content-slice {
    line-height: 25px;
}
  div#shopify-section-template--21857492140339__home_super_image_j4WQj8 .main-backaboutimage.about-first-texteee {
    max-height: 100%;
    height: 100%;
}
  div#shopify-section-template--21857492140339__progress_GVxBRf p.sltop_heading {
    font-size: 17px;
    letter-spacing: 0px;
    }
    
    div#shopify-section-template--21857492140339__progress_GVxBRf p.other_text {
        margin: 0 !important;
        font-size: 17px !important;
        line-height: 25px !important;
        margin-top: 20px !important;
        margin-bottom:20px !important;
    }
    
    div#shopify-section-template--21857492140339__progress_GVxBRf h2.sl_omg_heading {
        font-size: 26px;
        letter-spacing: 2px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 0;
    }
  div#shopify-section-template--21857492140339__home_about_new_qDD3Wb p.sltop_heading {
    font-size: 17px;
    letter-spacing: 0px;
    }
    
    div#shopify-section-template--21857492140339__home_about_new_qDD3Wb p.other_text {
        margin: 0 !important;
        font-size: 17px !important;
        line-height: 26px !important;
        margin-top: 20px !important;
        margin-bottom:20px !important;
    }
    
    div#shopify-section-template--21857492140339__home_about_new_qDD3Wb h2.sl_omg_heading {
        font-size: 26px;
        letter-spacing: 2px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 0;
    }
  div#shopify-section-template--21857492140339__super_rich_K9mhyt .bottom-main-two {
    font-size: 26px;
    }
      div#shopify-section-template--21857492140339__home_blog_text_image_aJia8x .h-pess-text h2 {
        font-size: 24px;
        line-height: 25px;
        margin: 10px 0;
        font-weight:500;
    }
      div#shopify-section-template--21857492140339__home_blog_text_image_aJia8x .product-description-short {
        font-size: 17px;
        line-height: 26px;
        font-family: "Roboto Light";
        color: #1c2e3a;
    }
  section.sillca-natural h1.upper-center-natural {
    line-height: 36px !important;
}
  div#shopify-section-template--21829931368755__super_rich_z69bwN .bottom-main-one {
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 17px;
    }
  div#shopify-section-template--21846747840819__super_rich_t6K83B .bottom-main-one {
    font-size: 17px;
    padding-top: 0;
}
  div#shopify-section-template--21850925564211__home_science_GXxihk .page-width {
    margin: 35px 0;
}
  div#shopify-section-template--21829931499827__home_science_d6UjgP .page-width {
    margin: 35px 0;
}
    div#shopify-section-template--21829931368755__super_rich_z69bwN .bottom-main-three p {
        font-size: 17px;
    }
  section.about-first-color-custome .about-first-textxyz {
    font-size: 16px;
  }
  section#shopify-section-template--21829931368755__b418350a-ab2c-4ee4-bfa1-c462bfbfea71 h3.inline-richtext {
    line-height: 35px;
  }
  div#shopify-section-template--21854023745843__home_advance_Yi97YB .total-days {
    margin-top: 20px;
}
  div#shopify-section-template--21854023745843__home_advance_Yi97YB .days-cards-1 p {
    font-size: 17px;
    line-height: 26px;
    font-family: "Roboto Light";
  }
  section#shopify-section-template--21854023745843__76db4bff-6b0c-41e5-b19d-39c1f0462841 p.title.inline-richtext {
    margin-bottom: 0 !important;
    margin-top: 20px;
    font-size: 17px;
    letter-spacing: 0;
    color: #1C2E3A;
    font-family: "Roboto";
    }
      .collection.featured_product.section-template--21854023745843__76db4bff-6b0c-41e5-b19d-39c1f0462841-padding {
        padding-bottom: 0;
    }
  div#shopify-section-template--21854023745843__super_rich_FmthCy .bottom-main-one {
    font-size: 17px !important;
}
p.guide-main-2p1.guide-center {
    letter-spacing: 0px;
    font-size: 17px;
}
.bottom-main-three p {
    text-align: left;
    }
    
    div#shopify-section-template--21854023745843__super_rich_FmthCy .bottom-main-two {
        padding-bottom: 0;
    }
    
    div#shopify-section-template--21829931467059__home_super_two_HD7VrR h4.content_dpL9AA {
        line-height: 33px !important;
        font-size:25px;
    }
    
    div#shopify-section-template--21829931467059__home_super_two_HD7VrR h4.content_zrRaEe {
        line-height: 24px;
    }
    div#shopify-section-template--21829931237683__home_super_number_rNbXhU .guide-inner p {
    line-height: 26px;
    font-size: 17px;
    font-family: "Roboto Light";
}
  div#shopify-section-template--21829931237683__home_super_number_rNbXhU .guide-inner {
    margin-top: 20px;
}
  p.image-with-text__text.image-with-text__text--caption.caption-with-letter-spacing.caption-with-letter-spacing--medium.caption-with-letter-spacing {
    letter-spacing: 0;
    color: #1C2E3A;
}
  div#shopify-section-template--21836600574259__408dd851-d4c4-4cc6-b8ef-643bb34cd9ce .image-with-text__text.rte.body p {
    line-height: 26px;
    font-family: "Roboto Light";
}
    div#shopify-section-template--21829931467059__home_super_two_HD7VrR h4.content_mPf6cJ {
        line-height: 28px;
    }
  div#shopify-section-template--21857492140339__super_rich_3nEUnA .ver-line p {
    letter-spacing: 0px;
    }
    
    div#shopify-section-template--21857492140339__home_scientific_image_FVCqWU p.guide-main-2p1.guide-center {
        font-size: 18px;
        letter-spacing: 1px;
    }
    
    div#shopify-section-template--21857492140339__home_scientific_image_FVCqWU h2.guide-main-2h1.guide-center1 {
        font-size: 26px;
        letter-spacing: 4px;
    }
    
    div#shopify-section-template--21857492140339__home_scientific_image_FVCqWU p.result_p {
        font-size: 17px;
        letter-spacing: 0px;
        line-height:26px;
        font-family: "Roboto Light";
    }
    div#shopify-section-template--21857492140339__home_scientific_image_FVCqWU .safety-b1 p {
        font-size: 17px;
        line-height: 26px;
}
   
    div#shopify-section-template--21857492140339__progress_iDiHyn p.sltop_heading {
        font-size: 17px;
        letter-spacing: 0px;
    }
    
    div#shopify-section-template--21857492140339__progress_iDiHyn h2.sl_omg_heading {
        font-size: 26px;
        line-height: 32px;
    }
    
    div#shopify-section-template--21857492140339__progress_iDiHyn p.other_text {
        font-size: 17px;
        margin-top: 20px;
    }
    
    div#shopify-section-template--21857492140339__progress_iDiHyn p.perc_text {
        font-size: 17px;
        line-height: 26px;
    }
    
    div#shopify-section-template--21857492140339__progress_mr3D7h p.sltop_heading {
        font-size: 18px;
        letter-spacing: 1px;
    }
    
    div#shopify-section-template--21857492140339__progress_mr3D7h h2.sl_omg_heading {
        font-size: 26px;
        line-height: 32px;
    }
    
    div#shopify-section-template--21857492140339__progress_LtmUmC p.sltop_heading {
        font-size: 18px;
        letter-spacing: 1px;
    }
    
    div#shopify-section-template--21857492140339__progress_LtmUmC h2.sl_omg_heading {
        font-size: 26px;
        line-height: 32px;
    }
    
    div#shopify-section-template--21857492140339__progress_LtmUmC p.other_text {
        font-size: 17px;
        margin-top: 20px;
    }
    
    div#shopify-section-template--21857492140339__progress_yciUbR p.sltop_heading {
        font-size: 18px;
        letter-spacing: 1px;
    }
    
    div#shopify-section-template--21857492140339__progress_yciUbR h2.sl_omg_heading {
        font-size: 26px;
        line-height: 32px;
    }
    
    div#shopify-section-template--21857492140339__progress_yciUbR p.other_text {
        font-size: 17px;
        margin-top: 20px;
    }
    
    div#shopify-section-template--21857492140339__scince_home_6YCtbX .us-fixed-width {
        padding: 50px 0;
    }
    div#shopify-section-template--21857492140339__super_rich_K9mhyt .bottom-main-one {
          font-size: 17px;
          letter-spacing: 0;
    }
    div#shopify-section-template--21854023745843__home_super_two_kq7nwN .section-text {
    margin-top: 15px;
}

.days-cards {
    gap: 30px;
}

.total-days {
    margin-top: 30px;
}
    div#shopify-section-template--21857492140339__super_rich_K9mhyt .bottom-main-two {
        font-size: 26px;
    }
      div#shopify-section-template--21833730261299__05ef7d87-9df7-4e71-be1e-e62cad7f8413 .natutal-center {
        font-size: 17px;
        letter-spacing: 0px;
    }
    div#shopify-section-template--21833730261299__05ef7d87-9df7-4e71-be1e-e62cad7f8413 h1.upper-center-natural {
      font-size: 26px;
    }
      div#shopify-section-template--21829931368755__super_rich_z69bwN .bottom-main-one {
        padding: 0;
      }
      
      div#shopify-section-template--21829931368755__super_rich_z69bwN .bottom-main-two {
          padding: 0;
      }
      
      div#shopify-section-template--21829931368755__super_rich_z69bwN .bottom-main-three p {
          margin-bottom: 0;
      }
      
      div#shopify-section-template--21829931368755__super_rich_z69bwN .bottominner-main {
          margin-bottom: 0;
      }
      
    div#shopify-section-template--21854023745843__super_rich_FmthCy .bottom-main-one {
        font-size: 18px;
        padding: 0;
    }
    
    div#shopify-section-template--21854023745843__super_rich_FmthCy .bottom-main-two {
        font-size: 26px;
        line-height: 32px;
    }
    div#shopify-section-template--21854023745843__super_rich_FmthCy .bottom-main-three p {
        font-size: 17px;
        line-height: 26px;
          font-family: "Roboto Light";
    }
    div#shopify-section-template--21829931467059__home_super_two_HD7VrR h3.about-us-multi {
      font-size: 17px;
      letter-spacing: 0;
    }
    div#shopify-section-template--21854023745843__home_advance_6M3FWa .days-cards-1 p {
    font-size: 17px;
    line-height: 26px;
}
div#shopify-section-template--21854023745843__home_doge_RY4FKg p.result_p {
    font-size: 17px;
    line-height: 26px;
    font-family: "Roboto Light" !important;
}

div#shopify-section-template--22186294640947__home_our_founder_aMfnrW .founder-top-text {
    margin-bottom: 5px;
}
  div#shopify-section-template--21829931237683__home_super_number_rNbXhU p.guide-main-2p1 {
    line-height: 10px;
    font-size: 17px;
    letter-spacing: 0;
}
  div#shopify-section-template--21829931172147__home_newrich_RpwyXY .own_collagenmar {
    margin-top: 20px;
}
  .own_collagenmar {
    margin-top: 20px;
}
    div#shopify-section-template--21829931467059__home_super_two_HD7VrR h4.content_zrRaEe {
        font-size: 20px;
        line-height: 26px;
    }
    
    div#shopify-section-template--21829931467059__home_super_two_HD7VrR h4.content_mPf6cJ {
        font-size: 20px;
        line-height: 25px;
    }
      section#shopify-section-template--22186294640947__featured_collection_YiTpVn .center.collection__view-all a {
        font-size: 15px;
    }
      div#shopify-section-template--21829931237683__home_super_number_rNbXhU .guide-main {
        gap: 40px;
        padding: 20px 0;
    }
      div#noreviews-wrapper {
        margin: 0;
    }
    .line-bottom {
        justify-content: left !important;
    }
      div#shopify-section-template--22187490541875__home_types_of_silica_DVX7it .tet-slica {
        font-size: 22px;
        line-height: 32px;
    }
    div#shopify-section-template--21886688198963__become_partner_VdCG3b .become-section-content p {
        font-size: 18px;
        line-height: 26px;
    }
    
    div#shopify-section-template--21886688198963__become_partner_VdCG3b .become-button a {
        font-size: 13px;
        letter-spacing: 2px;
    }
      div#shopify-section-template--21886688198963__home_become_one_PBhgCG p.icon-textd-p {
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 4px;
    }
    
    div#shopify-section-template--21886688198963__home_become_one_PBhgCG h2.icon-textd-h2 {
        font-size: 26px;
        line-height: 35px;
        letter-spacing: 3px;
    }
    
    div#shopify-section-template--21886688198963__home_become_one_PBhgCG p.icon-textd-p1 {
        margin-top: 20px;
        font-size: 17px;
        line-height: 26px;
    }
    
    div#shopify-section-template--21886688198963__home_become_one_PBhgCG h2.iconsText-heading {
        font-size: 26px;
        margin: 0;
        max-height: unset;
        height: auto;
    }
    div#shopify-section-template--21886688198963__home_become_one_PBhgCG .iconsText-textarea {
    padding-bottom: 30px;
}
    div#shopify-section-template--21886688198963__home_become_one_PBhgCG p.iconsText-text {
        font-size: 17px;
        line-height: 25px;
    }
    
    div#shopify-section-template--21886688198963__home_become_one_PBhgCG .iconsText-main {
        row-gap: 30px;
    }
      div#shopify-section-template--21854023745843__home_doge_RY4FKg .result-single-block img {
        max-width: 50px;
    }
    div#shopify-section-template--21854023745843__home_doge_RY4FKg .result-blocks {
        gap: 10px;
        margin: 20px 0;
    }
    
    div#shopify-section-template--21854023745843__home_doge_RY4FKg .results {
        padding: 0px 0;
    }
      div#shopify-section-template--22186294640947__home_our_founder_aMfnrW p.rigth-top {
        margin-bottom: 10px;
    }
    div#shopify-section-template--21829931172147__196411ff-9d36-4667-9088-c11bae43df30 .page-width-desktop.slider-cont {
    padding: 10px 0 !important;
    }
    div#shopify-section-template--21829931172147__home_expand_you_7GwgXQ .deleted-context {
        gap: 8px;
    }
      div#shopify-section-template--21829931172147__home_newrich_RpwyXY .own_collagen {
        line-height: 45px;
        letter-spacing: 1px;
    }
    div#shopify-section-template--21845714403635__home_super_two_FU4Gpr .about-us-content {
        margin-top: 20px;
    }
    div#shopify-section-template--21845714403635__home_super_two_nXzm7a .about-us-content {
        margin-top: 20px;
    }
    div#shopify-section-template--21845714403635__home_super_two_N7Ey3A .section-text {
        margin-top: 10px;
    }
    div#shopify-section-template--21845714403635__home_super_two_aVHnkQ .about-us-content {
      margin-top: 20px;
  }
      div#shopify-section-template--21846420554035__home_super_two_8hRqqB .about-us-content {
        margin-top: 20px;
    }
  .blog_set_pad {
    z-index: 1;
    position: relative;
    }
      .header__icon--menu[aria-expanded='true']::before {
        content: unset;
    }
    div#shopify-section-template--21836600574259__408dd851-d4c4-4cc6-b8ef-643bb34cd9ce p.image-with-text__text.image-with-text__text--caption.caption-with-letter-spacing.caption-with-letter-spacing--medium.caption-with-letter-spacing {
        font-size: 17px;
        line-height: 0;
    }
    .in-side-text {
        max-width: 100%;
        margin: auto;
        gap: 30px;
    }
  .in-side-text .text-dox {
    padding-left: 0;
    padding-right: 0;
}
    
    .headingabc h2 {
        font-size: 18px;
    }
    
    .main-cilca .content-slice {
        font-size: 17px !important;
    }
    
    .paraxyz {
        font-size: 17px;
        line-height: 26px;
    }
    
    h2.guide-main-2h1.guide-center1 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size:26px !important;
    }
    
    p.guide-main-2p1.guide-center {
        line-height: 20px;
        letter-spacing: 0px;
        padding-top: 20px;
    }
      div#shopify-section-template--22186294640947__home_slider_new_Hxkm3y .description-text {
    margin-top: 20px !important;
}
}

@media screen and (max-width: 600px) {
  .input_check p {
    font-size: 12px;
    font-family: "Roboto Light", sans-serif;
    text-align: left;
  }

  h1#recover {
    line-height: 36px;
    margin-top: 14px;
  }

  body.gradient.livingpro .rte p {
    font-size: 17px !important;
  }

  table.cart-items > thead > tr {
    align-items: center;
  }
  
  table.cart-items > thead > tr th.caption-with-letter-spacing:nth-child(1) {
      display: flex;
      align-items: center;
  }
  
  table.cart-items > thead > tr th.caption-with-letter-spacing:nth-child(2) {
      margin: 0;
      display: flex;
      align-items: center;
  }

  .cart-set {
    font-size: 30px;
  }
  
  .title-wrapper-with-link {
      margin: 0;
  }

  p.product_title {
    font-size: 16px !important;
  }
  
  .product-option {
      font-size: 16px !important;
  }

  a.button.button--tertiary {
    padding: 0 !important;
    width: 30px !important;
    height: 30px !important;
    max-width: 100%;
  }
  img.banner-mobile-image {
    display: block !important;
    width: 100%;
    margin: auto;
  }
    img.banner-desktop-image {
      display: none;
  }
  .rte p {
    font-size: 17px !important;
  }
  .inside-butt {
    padding: 10.4px 25px;
}
  .seaction-in a {
    padding: 10.4px 58px !important;
}
  
}

/* end media query */


div#ProductGridContainer {
    margin-bottom: 30px;
}
img.banner-mobile-image {
    display: none;
}
.multicolumn-card__info .rte p {
    color: #1C2E3A;
    font-family: "Roboto Light", sans-serif !important;
}
.bottom-main-three p {
    color: #1C2E3A;
    line-height: 26px !important;
}
@media screen and (max-width:500px){
  .section-description p {
    color: #1C2E3A;
    line-height: 26px;
}
  div#shopify-section-template--21829931368755__home_super_two_3gGnPL .section-text {
    margin-top: 15px;
}
.bottom-main-three p {
    line-height: 26px !important;
}
div#shopify-section-template--21845714403635__home_super_two_N7Ey3A .section-description {
    margin-top: 20px;
}
  .blog_post .multicolumn-card__info h3.inline-richtext {
    font-size: 24px !important;
    letter-spacing: 0.01px !important;
}
  .own_collagen {
    margin-bottom: 45px !important;
}
  .multicolumn-card__info .rte p {
    color: #1C2E3A;
    font-family: "Roboto Light", sans-serif !important;
    font-size: 17px !important;
    line-height: 26px!important;
}
  

