<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="hubspot-form-container hubspot-form-container-oneyear">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
        <script data-hubspot-rendered="true">
            hbspt.forms.create({
                region: "na1",
                portalId: "7050579",
                formId: "e3617b00-fd1a-4ffa-bb3a-7260a99a931b"
            });
        </script>
    </div>
      <style>
      .content-for-layout {
            background-image: url('https://cdn.shopify.com/s/files/1/0788/5622/5075/files/background-blue.png?v=1711215470'); /* Fondo de toda la página */
            background-size: cover; /* Cubre todo el contenedor */
            background-position: center; /* Centra la imagen en el contenedor */
        }
        /* Estilos generales del contenedor del formulario */
        .hubspot-form-container-oneyear {
            background-color: #233a4570;
            z-index: -1 !important;
            transform: scale(0.9);
            padding: 40px;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            color: #fff; /* Asegúrate de que el texto sea visible sobre el fondo */
        }

        .inputs-list {
          list-style-type: none;
        }

        
        .hubspot-form-container-oneyear h1  {
            color: #fff; /* Texto blanco */
            text-align: center;
            margin-bottom: 40px;
            font-size: 48px;
            font-weight: 400;
            line-height: 60px;
        }
      .hubspot-form-container-oneyear h6 {
            color: #fff; /* Texto blanco */
            text-align: center;
            margin-bottom: 0px;
            margin-top: 0px;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 3px;
            font-family: 'Roboto light', sans-serif !important;
        }

        /* Estilos para los campos de entrada */
        .hubspot-form-container-oneyear .hs-form .hs-form-field label {
            transform: scale(0.9);
        }
        .hubspot-form-container-oneyear .hs_lastname, .hubspot-form-container-oneyear .hs_email {
           margin-top: 4rem;
        }
        .hubspot-form-container-oneyear .hs-form .hs-form-field input {
            width: 100%;
            padding: 10px 0;
            border: none;
            transform: scale(0.9);
            border-bottom: 2px solid #ccc; /* Solo borde inferior, gris */
            background: transparent;
            background-size: cover; /* Cubre todo el contenedor */
            color: #fff; /* Texto blanco */
            font-size: 16px;
            text-align: justify;
        }

        /* Estilos para el placeholder de los inputs */
        .hubspot-form-container-oneyear .hs-form .hs-form-field input::placeholder {
            color: #fff; /* Placeholder blanco */
        }

        /* Estilos para el input al estar enfocado */
        .hubspot-form-container-oneyear .hs-form .hs-form-field input:focus {
            outline: none; /* Elimina el borde predeterminado */
            border-bottom-color: #00aaff; /* Color de la línea al enfocar */
            background-size: cover; /* Cubre todo el contenedor */

          .hubspot-form-container-oneyear .inputs-list {
        list-style: none; /* Remueve los marcadores de lista */
        padding-left: 0px !important; 
    }

    /* Estilo específico para el contenedor del checkbox en el formulario específico */
      #hsForm_e3617b00-fd1a-4ffa-bb3a-7260a99a931b .input label {
        display: felx !important;
      }


        }
        /* Botón de envío del formulario */
        .hubspot-form-container-oneyear .hs-form .hs-button {
            background-color: #00C1D5; /* Color azul para el botón */
            color: #fff; /* Texto blanco */
            padding: 25px 0;
            border: none;
            cursor: pointer;
            transform: scale(0.9);
            width: 100%; /* Ancho completo */
            text-align: center;
            font-size: 17px;
            margin-top: 10px;
            margin-bottom: 2rem;
            letter-spacing: 3px;
        }
        .hubspot-form-container-oneyear .hs-form-booleancheckbox label{
          display: grid;
    grid-template-columns: 30px 1fr;
 place-items: baseline;
        }
        .hubspot-form-container-oneyear .hs-form-booleancheckbox label span{
          padding: 10px;
        }
      .hubspot-form-container-oneyear  .inputs-list{
       padding-left: 0px;
     }
    </style>
</body>
</html>
